<div class="container mt-2">
  <!--ジャンル検索-->
  <div class ="row text-right">
    <div class="col">
      <%= render 'search', q: @q, url: users_path %>
      <%= form_tag items_path, method: :get do %>
      <%= select_tag :genre_id,
          options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),
         { prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'} %>
      <% end %>
    </div>
  </div>


  <h2>投稿一覧</h2>
  <div class="row">
    <div class="col-md-3">
      <table class="table">

        <% @items.each do |item| %>
        <thead>
          <tr>
            <td><%= image_tag item.user.get_profile_image(35,35) %></td>
            <td><%= item.user.name %></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.get_image(100,100) %>
                <% end %>
              </td>
            </tr>
    <!--商品名-->
            <tr>
              <td>
                <%= link_to item_path(item.id) do %>
                  <%= item.name %>
                <% end %>
              </td>
            </tr>
    <!--ジャンル-->
            <tr>
              <td><% item.genres.each do |genre| %>
                  <%= genre.name %>
                  <% end %></td>
            </tr>

            <tr>
              <td><%= render 'like', item: item %></td>
              <td><%= link_to "#{item.comments.count} コメント", item_path(item.id) %></td>
            </tr>
          </tbody>
        <% end %>

      </table>
    </div>
  </div>
</div>