<!--投稿-->
<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="border p-3 my-3">
      投稿フォーム
    </h5>
　</div>
    
    <div class="row d-flex justify-content-center">
      <%= render "layouts/errors", obj: @item %>

 　　   <%= form_with model: @item, url: items_path, method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>画像</td>
          <td><%= f.file_field :image, accept: "image/*", class: "rounded" %></td>
        </tr>

        <tr>
          <td>日本酒名</td>
          <td><%= f.text_field :name, style: "width:70%", placeholder: "商品名", class: "rounded" %></td>
        </tr>

        <tr>
          <td>詳細</td>
          <td><%= f.text_area :explanation, style: "width:70%", rows: "5", placeholder: "ここに説明文を記述します", class: "rounded" %></td>
        </tr>


        <tr>
          <td>
            <%= f.label :genre, 'ジャンル' %>
            <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %> 
              <%= genre.label do %>
                <%= genre.check_box %>
                <%= genre.text %>
              <% end %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>価格</td>
          <td><%= f.text_field :price, placeholder: "1000", class: "rounded" %>円</td>
        </tr>


    </table>
    <div class="row d-flex justify-content-center">
      <tr>
        <td><%= f.submit "投稿", class:"btn btn-success" %></td>
      </tr>
    </div>
    <% end %>
    </div>
  </div>
</div>