<!--投稿詳細画面-->
<div class="container mt-5">
  <%= render "layouts/errors", obj: @comment %>
  <div class="row justify-content-center">
  <!--画像-->
    <div class="col-md-6">
      <%= image_tag @item.image, class:"w-100",style:"aspect-ratio:16/9; object-fit: contain;" %>
    </div>

    <div class="col-md-6">
      <table class="table table-borderless">
    <!--商品名-->
        <tr>
          <td><h3 style="font-weight: bold;"><%= @item.name %></h3></td>
        </tr>
    <!--ジャンル-->
        <tr>
          <td><% @item.genres.each do |genre| %>
              <%= genre.name %>
              <% end %>
          </td>
        </tr>
    <!--詳細-->
        <tr>
          <td><h4><%= @item.explanation %></h4></td>
        </tr>
    <!--価格-->
        <tr>
          <td>約<%= @item.price %>円</td>
        </tr>

        <tr>
          <td>
            <% if @item.user == current_user %>
              <%= link_to "削除", item_path(@item), method: :delete %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row text-right">
    <div class="col">
      <%= link_to '＞＞戻る',items_path %>
    </div>
  </div>


<!--いいね機能-->
<div id="items_likes_like_<%= @item.id %>">
  <%= render 'items/likes/like', item: @item %>
</div>


<!--コメント機能-->
  <div>
    <p>コメント件数：<%= @item.comments.count %></p>
    <% @item.comments.each do |comment| %>
      <p><%= image_tag comment.user.get_profile_image(30,30) %>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.comment %>
      <% if comment.user == current_user %>
        <%= link_to "削除", item_comment_path(comment.item, comment), method: :delete %>
      <% end %></p>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@item, @comment] do |f| %>
      <%= f.text_area :comment, style: "width:100%", rows: '3', placeholder: "コメントをここに" %>
      <%= f.submit "送信する"%>
    <% end %>
  </div>
</div>